@charset "UTF-8";
header {
  height: 200px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid rgb(199, 198, 198);
}
header a {
  text-decoration: none;
  color: #333;
}
header ul {
  list-style-type: none;
  padding-left: 0;
}
header .topHeader {
  display: flex;
  justify-content: center;
  background-color: #1C3A4E;
  color: #fff;
}
header .topHeader .ulMenu {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}
header .topHeader .ulMenu .ulMenuZone {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 13px;
  font-weight: bold;
  border: solid 2px white;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .linkContact {
  color: white;
}
header nav .container-fluid {
  width: 90%;
  height: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .container-fluid .navbar-brand {
  width: 25%;
  max-height: 80px; /*définition de la hauteur maximal que le containeur peux avoir ça ne dépassera jamais ainsi on peut redimensionner sans problème*/
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
}
header nav .container-fluid .navbar-brand img {
  width: 300px;
  height: 400px;
  position: relative;
  left: -20px;
}
header nav .container-fluid .navbar-collapse {
  width: 65%;
}
header nav .container-fluid .navbar-collapse .ulMenuNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}
header nav .container-fluid .navbar-collapse .ulMenuNav .ulMenu {
  border: solid 2px #1093EB;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
header nav .container-fluid .navbar-collapse .ulMenuNav .services-link {
  font-size: 13px;
  font-weight: bold;
}
header nav .container-fluid .navbar-collapse .ulMenuNav .services-link:hover {
  color: #1093EB;
}
header nav .container-fluid .navbar-collapse .ulMenuNav .contact {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-weight: bold;
  background-color: #1093EB;
  font-size: 23px;
  color: #fff;
  border-radius: 5px;
  border: solid #1093EB;
  box-shadow: 0px 0px 5px 0px #1093EB;
  cursor: pointer;
}

.CarteServices {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.CarteServices .service-link {
  height: 400px;
  width: 49%;
  margin-bottom: 35px;
}
.CarteServices .service {
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 10px 0px #1093EB;
}
.CarteServices .service h2 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #1093EB;
  position: absolute;
  top: -20px;
}

.ServiceContainer {
  width: 90%;
  margin: auto;
}
.ServiceContainer .service {
  width: 100%;
  height: 500px;
  margin-top: 50px;
  box-shadow: 0px 0px 10px 0px #1093EB;
}
.ServiceContainer h2 {
  width: 100%;
  height: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ServiceContainer .descriptionService {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  align-items: center;
}

.Home {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Home .blockH1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  /*&__title{

      font-size: 40px;
      border: solid 1px red;
  }*/
}
.Home .blockH1__describ {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  font-size: 15px;
}
.Home .btn__contact {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-weight: bold;
  background-color: #1093EB;
  font-size: 23px;
  color: #fff;
  border-radius: 5px;
  border: solid #1093EB;
  box-shadow: 0px 0px 5px 0px #1093EB;
  cursor: pointer;
}
.Home .H2__title {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1093EB;
  font-size: 30px;
  margin-top: 50px;
}
.Home .descripConseil {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
}
.Home .H3__title {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1093EB;
  font-size: 30px;
  margin-top: 50px;
}
.Home .blockServices {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Home .blockServices__service {
  width: 32%;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 10px 0px #1093EB;
}
.Home .blockServices__service p {
  width: 90%;
  flex-grow: 1;
}
.Home .blockServices__service .btn__services {
  width: 70%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-weight: bold;
  background-color: #1093EB;
  font-size: 23px;
  color: #fff;
  border-radius: 5px;
  border: solid #1093EB;
  box-shadow: 0px 0px 5px 0px #1093EB;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Home .blockServices__appelAction {
  width: 32%;
  height: 400px;
  font-size: 30px;
  font-weight: bold;
}
.Home .blockEntreprise {
  width: 80%;
  flex-direction: column;
  align-items: center;
}
.Home .blockEntreprise h2 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 50px;
}
.Home .blockEntreprise__describ {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-top: 50px;
}
.Home .blockEntreprise__garantie {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.Home .blockEntreprise__garantie__item {
  width: 31%;
  height: 200px;
  margin: auto;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #1093EB;
}
.Home .blockEntreprise__garantie__item i {
  font-size: 50px;
  color: #1093EB;
}
.Home .blockEntreprise__garantie__item p {
  width: 90%;
  margin: auto;
}
.Home .blockEntreprise .btn__contact {
  margin: auto;
  margin-top: 50px;
}
.Home .blockEntreprise__products {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  font-size: 18px;
  color: white;
  background-color: #1093EB;
  border: solid 1px #1093EB;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #1093EB;
}
.Home .blockCanap {
  width: 80%;
  margin-top: 50px;
}
.Home .blockCanap__imageCanape {
  width: 100%; /* Utilise 100% de la largeur du conteneur */
  height: 400px; /* Hauteur fixe de l'image */
  background-size: cover; /* L'image couvre tout le conteneur */
  background-position: center; /* Centre l'image horizontalement et verticalement */
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #1093EB;
}
.Home .blockCanap .blockCanap__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  margin-top: 50px;
}
.Home .blockCanap__prix {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #1093EB;
  margin-top: 50px;
}
.Home .blockReviews {
  width: 100%;
  background-color: #1093EB;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #1093EB;
}
.Home .blockReviews__avis {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  color: white;
  margin-top: 50px;
}
.Home .blockReviews__avis .avis {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background-color: white;
}
.Home .blockReviews__avis p {
  margin-bottom: 50px;
}
.Home .blockMethodTravail {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Home .blockMethodTravail h3 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1093EB;
  font-size: 30px;
  margin-top: 50px;
}
.Home .blockMethodTravail__describ {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-top: 50px;
  border: solid 1px red;
}
.Home .blockMethodTravail__method {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-top: 50px;
}
.Home .blockMethodTravail__method .method {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Home .blockMethodTravail__method .method i {
  font-size: 50px;
  color: #1093EB;
}
.Home .blockMethodTravail__method .method p {
  width: 90%;
  margin: auto;
}
.Home .blockWhy {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Home .blockWhy h3 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1093EB;
  font-size: 30px;
  margin-top: 50px;
}
.Home .blockWhy__Item {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-top: 50px;
}
.Home .blockWhy__Item i {
  font-size: 50px;
  color: #1093EB;
}
.Home .blockWhy__Item p {
  width: 90%;
  margin: auto;
}
.Home .blockWhy__Item p span {
  font-weight: bold;
}
.Home .blockContact {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Home .blockContact__title {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1093EB;
  font-size: 30px;
  margin-top: 50px;
}
.Home .blockContact h3 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 50px;
}

.Contact {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 10px 0px #1093EB;
  border-radius: 5px;
}
.Contact .form-group {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Contact .form-group .itemInputContainer {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.Contact .form-group .itemInput {
  width: 100%;
  height: 50px;
  border-radius: 5px;
}
.Contact .form-group select {
  border: solid 2px;
}
.Contact .form-group textarea {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}
.Contact .dateInputContainer {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.Contact .dateInputContainer .dateInput {
  width: 45%;
  height: 50px;
  border-radius: 5px;
}
.Contact button {
  margin: auto;
  margin-top: 50px;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-weight: bold;
  background-color: #1093EB;
  font-size: 23px;
  color: #fff;
  border-radius: 5px;
  border: solid #1093EB;
  box-shadow: 0px 0px 5px 0px #1093EB;
  cursor: pointer;
}
.Contact .error-field {
  border-color: #dc3545;
  color: #dc3545;
}
.Contact .error {
  color: #dc3545;
  font-size: 12px;
}

/*# sourceMappingURL=index.css.map */
