.About{

    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;

    opacity: 0; /* Contenu invisible */
    transform: translateY(-100px); /* Contenu déplacé vers le haut */
    transition: opacity 300ms ease-in-out, transform 400ms ease-in-out; /* Transition sur l'opacité et la position */

    
    //border: solid red;
    h1{
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: $title;
        color: $primary;
    }

    @media (max-width: 728px) {

        margin-top: 200px;

        h1{
            font-size: $titleMobile;
        }
    }

    &__cartContainer{

        width: 80%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        //border: solid blue;

        &--itemGroupe{
            width: 32%;
            gap: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: $borderRadiusBlock;
            //box-shadow: $boxShadow;

            //border: solid red;

            .About__cartItem{
                width: 100%;
                height: 300px;
                //margin-bottom: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: $borderRadiusBlock;
                box-shadow: $boxShadow;
            }

           
        }
        &--describ{
            width: 32%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: $subTitle;
            padding: 10px 10px;
            border-radius: $borderRadiusBlock;
            box-shadow: $boxShadow;
        }


        @media (max-width: 728px) {

            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding : 0px 0px; 
            margin-top: $margintopSectionMobile -10px;
            background-color: $backgroungColorSection;
            border-radius: $borderRadiusBlock;

            // border: solid 1px red;

            &--itemGroupe{

                display: none;
               
            }

            &--describ{

                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: $subTitle;
                padding: 10px 10px;
                border-radius: $borderRadiusBlock;
                box-shadow: $boxShadow;

                
            }

        }
        
    }

    &__describ{

        width: 80%;
        margin-top: $margintopSupSection;
        //margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2{
            color: $primary;
            font-size: $title;
        }
        
        
        //border: solid;
     
    }

    .About__describ{

        
        .About__describ--us{

            position: relative;
            top: -50px;
            // border: solid red;
    
            
        }

        @media (max-width: 728px) {
    
            width: 90%;
            .About__describ--us{
                position: relative;
                top: 0px;
                // border: solid red;
            }
        
            h2{
                font-size: $titleMobile;
                text-align: center;
            }
        }
    
    }
    
    &__reviews{

        width: 80%;
        height: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: $margintopSupSection;
        margin-bottom: $margintopSupSection;
        padding: 20px 20px;
        background-color: $backgroungColorSection;
        border-radius: $borderRadiusBlock;

        // border: solid red;

        @media (max-width: 728px) {

            width: 90%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-top: $margintopSupSection;
            margin-bottom: $margintopSupSection;
            //padding: 20px 20px;
            background-color: $backgroungColorSection;
            border-radius: $borderRadiusBlock;
            box-shadow: $boxShadow;

            // border: solid red;

            
        }

        .reviews{
            width: 35%;
            display: flex;
            flex-direction: column;
            
            //border: solid red;

            @media (max-width: 728px) {
                    
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    //border: solid red;
            }

            .services{
                width: 100%;
                display: flex;
                justify-content: start;
                align-items: center;
                //height: 100%;
                
                // border: solid blue;

                i{
                    color: $primary;
                    font-size: 30px;
                    margin-right: 10px;
                }
            }
        }
        .containerRang{

            width: 61%;
            display: flex;
            justify-content: space-between;

            // border: solid 1px red;

            @media (max-width: 728px) {
                    
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                    // border: solid yellow;
            }

            .revieuws{
                width: 35%;
                //border: solid 1px blue;

                @media (max-width: 728px) {
                    
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    //border: solid red;
                }
            }
            .certicate{
                width: 75%;
                display: flex;
                justify-content: space-between;

                @media (max-width: 728px) {
                    
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 0px;
                    // border: solid red;
                }
                
                //border: solid 1px green;

                &__container{

                    width: 32%;
                    height: 150px;
                    display: flex;
                    justify-content: center;
                    border: solid 2px $primary;

                    p{
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        
                    }
                    .contenu{
                       
                        &__title{
                            color: $primary;

                        }
                        i{
                            color: $primary;
                            font-size: 30px;
                            margin-right: 10px;
                        }

                    }

                    @media (max-width: 728px) {
                    
                        width: 100%;
                        height: 150px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 20px;
                        // border: solid red;

                        p{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                        }
                        .contenu{
                           
                            &__title{
                                color: $primary;
                                font-weight: bold;
    
                            }
                            i{
                                color: $primary;
                                font-size: 30px;
                                margin-right: 10px;
                            }
    
                        }

                    }
                }

                
            }
        }

        
    }

    .btn__contact{
        margin-top: 50px;
        margin-bottom: 50px;
        @include btnContact;
    }

    &__team{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;

        //border: solid 1px #333;

        h2{
            color: $primary;
            font-size: $title;
        }
        .About__team--descrip{
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: $subTitle;
            padding: 10px 10px;
            // border-radius: $borderRadiusBlock;
            // box-shadow: $boxShadow;
        }

        @media (max-width: 728px) {

            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: $margintopSectionMobile;
            padding-bottom: 50px;
            padding: 0px;
            // background-color: $backgroungColorSection;
            // border-radius: $borderRadiusBlock;
            // box-shadow: $boxShadow;
            // border: solid 1px red;

            h2{
                font-size: $titleMobile;
                text-align: center;
            }

            .About__team--descrip{
                width: 100%;
                display: flex;
                flex-direction: column;
                text-align: center;
                font-size: $subTitleMobile;
                padding: 10px 10px;
                // border-radius: $borderRadiusBlock;
                // box-shadow: $boxShadow;

                li{
                    margin-top: 10px;
                }

            }
        }

        
    }

}

//application de l'animation de l'affichage progressif de la page
.visibleHome {
    opacity: 1; //Le contenu devient visible 


    transform: translateY(0); // Le contenu revient à sa position d'origine /
}