@import "./Colors.scss";
@import "./Variables.scss";


header {
  
    a{
        text-decoration: none;
        color: #333;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
        //margin: 0;
    }

 height: 200px;
//   max-height: 200px; /* Définir la hauteur maximale que tu souhaites pour le header */
//   overflow: hidden; /* Masquer tout contenu qui dépasse la hauteur du header */
  
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: $fontZiseNav;

  border-bottom: 1px solid rgb(199, 198, 198);
 

  //première partie du header
  .topHeader {
    
   // height: 60px;
    display: flex;
    justify-content: center;
    background-color: $secondary;
    

    color: #fff;

    .ulMenu{
        width: 90%;
        display: flex;
        justify-content: space-between;
        padding-left: 0;

        //border: solid 1px yellow;

        

       
       
        .ulMenuZone{
            display: flex;
            flex-direction: column;
            margin-top: 10px;

            font-size: 13px;
            font-weight: bold;
            border: solid 2px white;
            border-radius: 5px;
            padding-left: 5px;
            padding-right: 5px;
          
        }
    }
    
  }


  //deuxième partie du header

  nav{
  
    display: flex;
    justify-content: center;
    align-items: center;

    
    
    .linkContact{
        color: white;
    }
    
   

    .container-fluid{
        width: 90%;
        height: 135px;
        display: flex;
        justify-content: space-between;
        align-items: center;

       // border: solid 1px #333;
        

        .navbar-brand{

            width: 25%;
            max-height: 80px; /*définition de la hauteur maximal que le containeur peux avoir ça ne dépassera jamais ainsi on peut redimensionner sans problème*/
            display: flex;
            justify-content: start;
            align-items: center;
            overflow: hidden;

            //border: solid 1px orange;

            img{
                width: 300px;
                height: 400px;
                position: relative;
                left: -20px;
               
            }
        }
        .navbar-collapse{

            width: 65%;
           
            // border: solid 1px #333;

            .ulMenuNav{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 0;
                

                .ulMenu{
                   
                    border: solid 2px $primary;
                    border-radius: 5px;
                    padding-left: 5px;
                    padding-right: 5px;
                }
                .services-link{
                    font-size: 13px;
                    font-weight: bold;

                    &:hover{
                        color: $primary;
                    }
                    //color: red;
                }
                .contact{
                    
                    @include btnContact();
                }

            }
        }
    }
  }
    
}