@import "./Colors.scss";
@import "./Variables.scss";


//recet du css de la page 
* {
    font-family: "Open Sans", sans-serif;
    margin-inline: 0;
    box-sizing: border-box;

   
  }
  
  html, body {
    background-color: $backgroungColorPage;
   
  }

header {
  
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: white;

    // margin: 0;
    // padding: 0;
    //position: relative; /* Assurez-vous qu'il n'est pas affecté par une autre position */
    

    a{
        text-decoration: none;
        color: #333;

        
    }
    a:hover{
        color: $primary;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
        //margin: 0;
    }

 height: 200px;
//   max-height: 200px; /* Définir la hauteur maximale que tu souhaites pour le header */
//   overflow: hidden; /* Masquer tout contenu qui dépasse la hauteur du header */
  
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: $fontZiseNav;

  border-bottom: 1px solid rgb(199, 198, 198);
  box-shadow: $boxShadow;
 

  //première partie du header
  .topHeader {
    
   // height: 60px;
    display: flex;
    justify-content: center;
    background-color: $secondary;
    

    color: #fff;

    .ulMenu{
        width: 90%;
        display: flex;
        justify-content: space-between;
        padding-left: 0;
        font-size: 13px;
        font-weight: bold;
        //border: solid 1px yellow;

        

       
       
        .ulMenuZone{
            display: flex;
            flex-direction: column;
            margin-top: 10px;

            
            border: solid 2px white;
            border-radius: 5px;
            padding-left: 5px;
            padding-right: 5px;
          
        }

        .social{

            width: 100px;
            display: flex;
            justify-content: space-between;
            
            //border: solid 2px white;

            a{
                cursor: pointer;
            }
            i{
                font-size: 30px;
                //color: $primary;
                color: white;
            }
        }
    }
    
  }


  //deuxième partie du header

  nav{
  
    display: flex;
    justify-content: center;
    align-items: center;

   
    
    
    .linkContact{
        color: white;

    }
    
   

    .container-fluid{
        width: 90%;
        height: 135px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        

       // border: solid 1px #333;
        

        .navbar-brand{

            width: 25%;
            max-height: 80px; /*définition de la hauteur maximal que le containeur peux avoir ça ne dépassera jamais ainsi on peut redimensionner sans problème*/
            display: flex;
            justify-content: start;
            align-items: center;
            overflow: hidden;
            position: relative;
            top: -20px;

            //border: solid 1px orange;

            img{
                width: 300px;
                height: 400px;
                position: relative;
                left: -20px;
               
            }
        }
        .navbar-collapse{

            width: 65%;
           
            // border: solid 1px #333;

            .ulMenuNav{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 0;
                

                .ulMenu{
                   
                    
                    
                    padding-left: 5px;
                    padding-right: 5px;
                    // border-radius: 5px;
                    border: solid 2px $primary;
                }
                .services-link{
                    font-size: 13px;
                    font-weight: bold;

                    &:hover{
                        color: $primary;
                    }
                    //color: red;
                }
                .contact{
                    
                    @include btnContact();

                    transition: transform 200ms ease-in-out , opacity 200ms ease-in-out;
                    &:hover{
                        transform: scale(1.1);
                        //opacity: 0.8;
                    }
                }

            }
        }
    }
  }
    
}