@import "./Variables.scss";


//recet du css de la page 
* {
    font-family: "Open Sans", sans-serif;
   

   
  }
  
  html, body {
    background-color: $backgroungColorPage;
    margin: 0;
    padding: 0;
   
    // font-family: sans-serif; /* Définir une police par défaut (optionnel) */
  }

.Home{

    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    // border: solid;

    opacity: 0; /* Contenu invisible */
    transform: translateY(-100px); /* Contenu déplacé vers le haut */
    transition: opacity 300ms ease-in-out, transform 400ms ease-in-out; /* Transition sur l'opacité et la position */

    i{
        @include animationIcons();
    }
    
    .blockH1{
        width: 100%;
        //height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: $margintopSection;
        margin-bottom: $margintopSection;
        padding-top: 20px;
        background-color: $backgroungColorSection;
        border-radius: 10px;
       
        
        //border: solid 1px red;

        &__title{

            font-size: $title;
            //color: $primary;
            // border: solid 1px red;
        }

        &__describ{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            top: -50px;
            //margin-top: $margintopSupSection;
           
            font-size: $subTitle;
            //font-weight: bold;
            //border: solid 1px red;
        }
       
    }

    .btn__contact{
        
        @include btnContact();
        @include animationBtn();
    }

    .H2__title{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary;
        font-size: $title;
        //background-color: $primary;
        margin-top: $margintopSection;
        //border: solid 1px red;
    }
    .descripConseil{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        // font-weight: bold;
        font-size: $subTitle;
        margin-top: -20px;
        //margin-top: $margintopSupSection;
        // border: solid 1px red;
    }
    .H3__title{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary;
        font-size: $title;
        //background-color: $primary;
        margin-top: $margintopSection;
        //border: solid 1px red;
    }

    .blockServices{

        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        
       // border: solid 1px red;

        &__subService{

            width: 64%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
            //border: solid 1px yellow;

            &--cart{
                width: 48%;
                //height: 400px;
                margin-bottom: 35px;
                padding-bottom: 30px;
                padding: 10px 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: $subTitle;
                border-radius: $borderRadiusBlock;
                border: none;  //$borderBlueSolid
                box-shadow: $boxShadow;
                background-color: $backgroungColorSection;
    
                p{
                    width: 90%;
                    flex-grow: 1;
                    margin-top: -10px;
                    //border: solid 1px red;
                }
                .btn__subService{
                    @include btnContact($width: 70%, $font-size: 12px);
                    //margin-top: $margintopSection;
                    margin-bottom: 20px;

                    @include animationBtn();
                    
                }
    
               
            }
        }
        
        &__appelAction{
            width: 34%;
            //height: 400px;
            font-size: $title;
            font-weight: bold;

            //border: solid 1px red;
            
        }
    }


    .blockEntreprise{

        //width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding : 20px 20px; 
        margin-top: $margintopSection;
        background-color: $backgroungColorSection;
        border-radius: $borderRadiusBlock;

        //border: solid 1px red;

        h2{
            width: 95%;
            //height: 50px;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            color: $primary;
            font-size: $title;
            //background-color: $primary;
            
           

            // border: solid 1px red;
        }
        &__describ{

            width: 80%;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            //font-weight: normal;
            font-size: $subTitle;
            margin-top: -20px;
            //margin-top: $margintopSection;

            //border: solid 1px red;
        }
        &__garantie{
            width: 80%;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            //font-weight: bolder;
            //font-size: $subTitle;
            margin-top: $margintopSection;

            //border: solid 1px red;
        }
        &__garantie__item{
            width: 31%;
            height: 200px;
            margin: auto;
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            // border-radius: $borderRadiusBlock;
            // box-shadow: $boxShadow;
           

            // border: solid 1px blue;

            i{
                font-size: 50px;
                color: $primary;
            }
            p{
                width: 90%;
                margin: auto;
                text-align: center;
                //font-size: $subTitle;
                // border: solid 1px blue;
            }
        }
        .btn__contact{

            margin: auto;
            margin-top: $margintopSection;
            
        };
        &__products{
            width: 100%;
            //height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: auto;
            margin-top: $margintopSection;
            margin-bottom: $margintopSection;
            font-size: $subTitle;
            //color: $primary;
            // background-color: $primary;
            // border: solid 1px $primary;
            // border-radius: $borderRadiusBlock;
            // box-shadow: $boxShadow;

            
        }
    
    }

    .blockCanap{

        width: 80%;
        margin-top: $margintopSection;

        // border: solid 1px red;

        &__imageCanape{

            width: 100%;  /* Utilise 100% de la largeur du conteneur */
            height: 400px;  /* Hauteur fixe de l'image */
            background-size: cover;  /* L'image couvre tout le conteneur */
            background-position: center;  /* Centre l'image horizontalement et verticalement */
            border-radius: 10px;
            box-shadow: $boxShadow; // Ombre portée
        }
        .blockCanap__text--item{
            //margin-top: $margintopSupSection;
        }
        .blockCanap__text{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: $subTitle;
            margin-top: $margintopSupSection - 20px;
    
            //border: solid 1px red;
        }
        &__prix{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $subTitle;
            font-weight: bold;
            color: $primary;
            margin-top: $margintopSection;
    
            //border: solid 1px red;
        }

    }

    .blockReviews{

        width: 100%;
        background-color: $primary;
        margin-top: $margintopSection;
        border-radius: $borderRadiusBlock;
        box-shadow: $boxShadow;

        &__avis{
            width: 80%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: $subTitle;
            color: white;
            margin-top: $margintopSection;
           

            //border: solid 1px red;

            .avis{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: $margintopSection;
                background-color: white;
                
                //border: solid 1px red;
            }
            .describTitle{
                font-weight: bold;
                font-size: $subTitle;
            }
            .describTitleSub{
                width: 90%;
                margin: auto;
                font-size: 18px;
                position: relative;
                top: -30px;
            }

        }
       

    }


    .blockWhy{
            
            width: 100%;
            // margin-top: $margintopSection;
            display: flex;
            flex-direction: column;
            // align-items: center;
    
            //border: solid 1px red;
    
            &__title{
                width: 100%;
                //height: 50px;
                display: flex;
                justify-content: center;
                // align-items: center;
                margin-bottom: 20px;
                color: $primary;
                font-size: $title;
                //background-color: $primary;
                // margin-top: $margintopSection;
                
                //border: solid 1px red;
            }
            &__Item{
                width: 90%;
                margin: auto;
                font-size: $subTitle;
                // margin-top: $margintopSection;
    
                //border: solid 1px blue;
    
                i{
                    font-size: 30px;
                    color: $primary;
                    margin-right: 10px;
                }
                p{
                    //width: 90%;
                    margin: 10px;
                    // margin: auto;
                    //font-size: $subTitle;

                    span{
                        font-weight: bold;
                    }
                }
            }

           
            
           
           
    }
   
    .blockTerasse{

        width: 90%;
        margin-top: $margintopSection + 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        //border: solid 1px red;

        &__img{
            width: 50%;
            height: $heightSectionImg;
            background-size: cover;  /* L'image couvre tout le conteneur */
            background-position: center;  /* Centre l'image horizontalement et verticalement */
            border-radius: $borderRadiusBlock;
            //box-shadow: $boxShadow; // Ombre portée

            //border: solid 1px yellow;
        }
        &__text{
            width: 48%;
            height: $heightSectionImg;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: $subTitle;
           

            //border: solid 1px red;

            h3{
                color: $primary;
            }
            p{
                margin-top: -10px;
                text-align: justify;
            }
        }

    }
    .blockTerasseReverse{

        width: 90%;
        margin-top: $margintopSection + 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        //flex-direction: row-reverse;
        //border: solid 1px red;

        &__img{
            width: 50%;
            height: $heightSectionImg;
            background-size: cover;  /* L'image couvre tout le conteneur */
            background-position: center;  /* Centre l'image horizontalement et verticalement */
            border-radius: $borderRadiusBlock;
            //box-shadow: $boxShadow; // Ombre portée

            //border: solid 1px yellow;
        }
        &__text{
            width: 48%;
            height: $heightSectionImg;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: $subTitle;
           

            //border: solid 1px red;

            h3{
                color: $primary;
            }
            p{
                margin-top: -10px;
                text-align: justify;
            }
        }

    }

    .blockContact{

        
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: $margintopSection;

        // border: solid 1px red;

        h3{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $primary;
            font-size: $title;
            //background-color: $primary;
            margin-top: $margintopSection;
            
            //border: solid 1px red;
        }
        
    }
}


//application de l'animation de l'affichage progressif de la page
.visibleHome {
    opacity: 1; //Le contenu devient visible 
    transform: translateY(0); // Le contenu revient à sa position d'origine /
}

