.rang{

    h2{
        i{
            color: $primary;
        }
        
    }
    .star{
        
        text-align: center;
        color: $primary;
    }
    .note{
        text-align: center;
    }
}