//recet du css de la page 
* {
    font-family: "Open Sans", sans-serif;
    margin-inline: 0;
    box-sizing: border-box;

   
  }
  
  html, body {
    background-color: $backgroungColorPage;
    // width: 100%;
    // height: 100%;
    // font-family: sans-serif; /* Définir une police par défaut (optionnel) */
  }

.ServiceContainer{

    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin: auto;
    margin-top: 250px;

    opacity: 0; /* Contenu invisible */
    transform: translateY(-100px); /* Contenu déplacé vers le haut */
    transition: opacity 300ms ease-in-out, transform 400ms ease-in-out; /* Transition sur l'opacité et la position */

    // border: solid red;

    @media (max-width: 728px) {
            
        margin-top: 250px;
        flex-direction: column;

        
    }
   

    

    &__describ{

        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;

        // border: solid red;

        h1{
           
            font-size: $title;
            // margin-bottom: 50px;
            color: $primary;


        }
        .ServiceContainer__describ--item{

            // margin-bottom: -30px;
            // border: solid blue;
        }
        &--details{

            display: flex;
            flex-direction: column;
            margin-bottom: 50px;

            //border: solid 1px #333;

            .describ--detailsItemp{

                
                height: 50px;
               
            //    border: solid 1px red;

                p{
                    width: 1;
                  
                    i{
                        font-size: $title;
                        color: $primary;
                        font-size: 23px;
                        margin-right: 10px;
                    }
                }
               
            }
        }
        .btn__contact{
            margin-top: 50px;
            margin-bottom: 50px;
            @include btnContact;
        }

        @media (max-width: 728px) {

            width: 100%;
            // margin-top: 50px;
            // margin-bottom: 50px;
            // border: solid red;

            h1{
                font-size: $titleMobile;
                margin-bottom: 20px;
                color: $primary;
            }
            .ServiceContainer__describ--item{

                margin-bottom: 0px;
                font-weight: bold;
                // border: solid blue;
            }
            &--details{

                display: flex;
                flex-direction: column;
                margin-bottom: 0px;

                //border: solid 1px #333;

                .describ--detailsItemp{

                    
                    height: 50px;
                   
                //    border: solid 1px red;

                    p{
                        width: 1;
                      
                        i{
                            font-size: $title;
                            color: $primary;
                            font-size: 23px;
                            margin-right: 10px;
                        }
                    }
                   
                }
            }
            .btn__contact{
                margin-top: 50px;
                margin-bottom: 50px;
                @include btnContact;
            }
        }
    }

    .service{

        width: 40%;
        height: $heightSectionImg;

       // border: solid 1px #333;
    }
    h2{
        width: 100%;
        height: 50px;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    .descriptionService{
        width: 100%;
        height: 100%;
        margin-top: 50px;
        align-items: center;
        //border: solid 1px red;
    }
}

//application de l'animation de l'affichage progressif de la page
.visibleHome {
    opacity: 1; //Le contenu devient visible 
    transform: translateY(0); // Le contenu revient à sa position d'origine /
}
