@import "./Variables.scss";


//recet du css de la page 
* {
    font-family: "Open Sans", sans-serif;
   

   
  }
  
  html, body {
    background-color: $backgroungColorPage;
    margin: 0;
    padding: 0;
   
    // font-family: sans-serif; /* Définir une police par défaut (optionnel) */
  }

  
  table{

    width: 100%;
    margin-top: $margintopSupSection;
    margin-bottom: $margintopSupSection;
    border-collapse: collapse;
    border: solid 2px $primary;

    .btnChantier{

        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 5px;
        border: solid 2px $primary;
        color: $backgroungColorSection;
        background-color: $primary;
        border-radius: $borderRadiusInput - 5px;
        font-weight: bold;
        cursor: pointer;
       
        //transition: box-shadow 200ms ease-in-out;
        transition: transform 200ms ease-in-out;
        overflow: hidden;
        white-space: nowrap;        // Empêche le texte de se répartir sur plusieurs lignes
        text-overflow: ellipsis;    // Ajoute les "..." si le texte dépasse la largeur de l'élément
       
       
        &:hover{
            
            //box-shadow: $boxShadow;
            transform: scale(0.9);
        }
        
    }
    th{
        border: solid 2px $primary;
        padding: 10px;
        text-align: center;
        font-size: $fontZiseTable;
    }
    td {
        border: solid 2px $primary;
        padding: 5px;
        text-align: center;
        font-size: $fontZiseTable;

        .statusInput{
            //width: 100%;
            border: solid 2px $primary;
            border-radius: $borderRadiusInput - 5px;
            padding: 5px;
            text-align: center;
            font-size: $fontZiseTable;
            font-weight: bold;
            color: $primary;
            background-color: $backgroungColorSection;
        }
        .containerAction{
            width: 80%;
            margin: auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            //padding: 5px;
            border: solid 2px $primary;
            border-radius: $borderRadiusInput - 5px;
            background-color: $primary;
            margin-bottom: 5px;
            

            span{

                width: 70%;
                font-weight: bold;
                color: $backgroungColorSection;

            }
            .containerAction__btn{

                width: 30%;
                //border: solid red;

                input{
                    width: 100%;
                    border: solid 2px $primary;
                    border-radius: $borderRadiusInput - 5px;
                    padding: 5px;
                    text-align: center;
                    font-size: $fontZiseTable;
                    font-weight: bold;
                    color: $primary;
                    background-color: $backgroungColorSection;
                }
            }
        }
        .nombreRelancesInput{

            width: 50%;
            border: solid 2px $primary;
            border-radius: $borderRadiusInput - 5px;
            padding: 5px;
            text-align: center;
            font-size: $fontZiseTable;
            font-weight: bold;
            color: $primary;
            background-color: $backgroungColorSection;
        }
       
        .tdIcons{

            height: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            overflow: hidden;
            i{
                font-size: 15px;
                cursor: pointer;
                //margin-inline: 10px;
            }
        }


        .seeMoreTable{
            color: $primary;
            cursor: pointer;
        }
        
    }
    
}

  