

/////// Text ///////
$fontZiseNav: 18px;
$fontZiseBtnContact: 23px;
$title: 60px;
$titleMobile: 35px;
$subTitle: 30px;
$subTitleMobile: 18px;
$fontZiseTable: 13px;


///////// couleurs ///////
$colorTextBtnContact: #fff;
$primary: #1093EB;
$secondary: #1C3A4E;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$colorFooter: #E0E0E0;
$backgroungColorPage: #F1F6F6;
$backgroungColorSection: #fff;
$colorTextplaceHolder: #393737;



////// Border ///////
$borderBlueSolid: 1px solid #1093EB;
$borderRadiusBlockImg: 28px;
$borderRadiusBlock: 15px;
$borderRadiusInput: 10px;
$borderColorInput: #E0E0E0;




///////// Box shadow ///////
$boxShadow: 7px 8px 17px -1px rgba(0,0,0,0.41);//0px 0px 10px 0px $primary;

///////// padding  marging///////
$margintopSection: 100px;
$margintopSectionMobile: 50px;  
$margintopSupSection: 50px;  


/////////// height width //////////
$heightSectionImg: 600px;


////////////////// mixins //////////////////

@mixin btnContact($width: 300px, $height: 60px, $color: $colorTextBtnContact, $font-size: $fontZiseBtnContact, $colorText: $colorTextBtnContact, $background-color: $primary, $border: solid $primary, $margin-top: 20px) {
        width: $width;
        height: $height;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: $margin-top;
        font-weight: bold;
        background-color: $background-color;
        font-size: $fontZiseBtnContact;
        color: $color;
        border-radius: 10px;
        border: $border;
       //box-shadow: 0px 0px 5px 0px $primary;
        cursor: pointer;

}

@mixin animationBtn($width: 300px, $height: 60px, $color: $colorTextBtnContact, $font-size: $fontZiseBtnContact, $colorText: $colorTextBtnContact, $background-color: $primary, $border: solid $primary, $margin-top: 20px) {
        width: $width;
        height: $height;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: $margin-top;
        font-weight: bold;
        background-color: $background-color;
        font-size: $fontZiseBtnContact;
        color: $color;
        border-radius: 10px;
        border: $border;
        //box-shadow: 0px 0px 5px 0px $primary;
        cursor: pointer;
        transition: transform 200ms ease-in-out , opacity 200ms ease-in-out;
        &:hover{
        transform: scale(0.9);
        // background-color: $primary;
        // border: solid $primary;
        // color: $colorTextBtnContact;
        // transform: scale(1.1);
        //opacity: 0.8;
        }
}

@mixin animationIcons(){

        transition: transform 200ms ease-in-out;
        &:hover{
            color: $primary;
            transform: scale(1.1);
        }
}

